<h2>{{title}}</h2>
<div class="mb-3">
    <ng-container *ngTemplateOutlet="counterValueTpl || defaultValueTpl; context:counterValueTplContext">
    </ng-container>
</div>
<div class="d-flex justify-content-center">
    <div class="mr-3">
        <ng-container *ngTemplateOutlet="counterIncBtnTpl || defaultIncBtnTpl; context:counterIncBtnTplContext">
        </ng-container>
    </div>
    <div>
        <ng-container *ngTemplateOutlet="counterDecBtnTpl || defaultDecBtnTpl; context:counterDecBtnTplContext">
        </ng-container>
    </div>
</div>

<ng-template #defaultValueTpl>
    {{value}}
</ng-template>

<ng-template #defaultIncBtnTpl>
    <button (click)="increment()">inc</button>
</ng-template>

<ng-template #defaultDecBtnTpl>
    <button (click)="decrement()">dec</button>
</ng-template>

<!-- HOW TO CALL -->

<!-- <widget-select-promise [title]="'Titulo'">

    <ng-container *appCounterValue="let value">
        <span class="mr-2">Current value: {{value}}</span>
        <i class="fa fa-arrow-left"></i>
    </ng-container>

    <ng-container *appCounterIncBtn="let increment">
        <button class="btn btn-success" (click)="increment()">
            inc <i class="fa fa-arrow-up"></i>
        </button>
    </ng-container>

    <ng-container *appCounterDecBtn="let decrement">
        <button class="btn btn-danger" (click)="decrement()">
            dec <i class="fa fa-arrow-down"></i>
        </button>
    </ng-container>
</widget-select-promise> -->