<div class="modal-content" [ngClass]="modalSize">
    <div class="modal-header flex-vcenter">
        <span class="svg-icon svg-icon-primary svg-icon-2x mr-2">
            <widget-svg-icon [icon]="configComponent.icon"></widget-svg-icon>
        </span>
        <h5 class="modal-title flex-vcenter">{{ configComponent.title }}
            <span class="text-muted ml-5 font-weight-bolder font-size-lg">{{ configComponent.description }}
            </span>

            <ng-content select="[content-header]"></ng-content>
        </h5>

        <button type="button" (click)="closeDialog.emit(null)" type="button" class="close" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
        </button>
    </div>

    <ng-container>
        <ng-content select="[content]"></ng-content>
    </ng-container>

    <div class="modal-footer">
        <div class="mr-auto">
            <span class="text-danger">*</span> Campos obligatorios
        </div>

        <ng-content select="[buttons]"></ng-content>

    </div>
</div>